.DingDing {
  position: fixed;
  top: 50%;
  left: 50%;
  width: 1000px;
  height: 720px;
  overflow: hidden;
  border-radius: 12px;
  box-shadow: 0 0 20px $dark1;
  transform: translate(-50%, -50%);
  background-color: #fff;

  div,
  span,
  p {
    user-select: none;
  }

  .Body {
    height: calc((100% - 48px));
  }

  ::v-deep .dingSearch {
    .el-input__wrapper {
      transition: $trans3;
      background-color: $white3 !important;
      box-shadow: 0 0 0 1px $white1 inset !important;

      &.is-focus {
        background-color: $white1 !important;
        box-shadow: 0 0 0 1px $white3 inset, 0 0 0 3px $dark1 !important;
      }

      .el-input__prefix-inner {
        color: $white3 !important;
      }

      .el-input__suffix-inner .el-icon {
        color: $white7 !important;
      }

      .el-input__inner {
        color: #fff !important;

        &::placeholder {
          color: $white3 !important;
        }
      }
    }
  }
}