$colors: (
  primary: $primary,
  primary1: $primary1,
  primary3: $primary3,
  primary5: $primary5,
  primary7: $primary7,
  red: $red,
  red1: $red1,
  red3: $red3,
  red5: $red5,
  red7: $red7,
  blue: $blue,
  blue1: $blue1,
  blue3: $blue3,
  blue5: $blue5,
  blue7: $blue7,
  green: $green,
  green1: $green1,
  green3: $green3,
  green5: $green5,
  green7: $green7,
  orange: $orange,
  orange1: $orange1,
  orange3: $orange3,
  orange5: $orange5,
  orange7: $orange7,
  dark: $dark,
  dark1: $dark1,
  dark3: $dark3,
  dark5: $dark5,
  dark7: $dark7,
  dark9: $dark9,
  gray: $gray,
  gray1: $gray1,
  gray3: $gray3,
  gray5: $gray5,
  gray7: $gray7,
  gray9: $gray9,
  black: $black,
  black1: $black1,
  black3: $black3,
  black5: $black5,
  black7: $black7,
  black9: $black9,
  white: $white,
  white1: $white1,
  white3: $white3,
  white5: $white5,
  white7: $white7,
  white9: $white9,
  littleBlue: $littleBlue,
  littleGreen: $littleGreen,
  littleRed: $littleRed,
  littleOrange: $littleOrange,
  littlePurple: $littlePurple,
  littleGray: $littleGray,
);

@each $key,
$var in $colors {
  .txt-#{''+$key} {
    color: #{$var};
  }

  .bg-#{''+$key} {
    background-color: #{$var};
  }

  .hover-txt-#{''+$key} {
    cursor: pointer;
    transition: color .3s linear;

    &:hover {
      color: #{$var} !important;
    }
  }

  .hover-bg-#{''+$key} {
    cursor: pointer;
    transition: background .1s linear;

    &:hover {
      background-color: #{$var} !important;
    }
  }

  .box-shadow-#{''+$key} {
    box-shadow: 0 0 10px #{$var};
  }

  .hover-txt-shadow-#{''+$key} {
    &:hover {
      text-shadow: 0 0 2px #{$var};
    }
  }

  .hover-box-shadow-#{''+$key} {
    &:hover {
      box-shadow: 0 0 10px #{$var};
    }
  }

  .border-#{''+$key} {
    border: 1px solid #{$var};
  }

  .border-#{''+$key}-dashed {
    border: 1px dashed #{$var};
  }

  .border-l-#{''+$key} {
    border-left: 1px solid #{$var};
  }

  .border-l-#{''+$key}-dashed {
    border-left: 1px dashed #{$var};
  }

  .border-b-#{''+$key} {
    border-bottom: 1px solid #{$var};
  }

  .border-b-#{''+$key}-dashed {
    border-bottom: 1px dashed #{$var};
  }
}

.drop-shadow-blue {
  cursor: pointer;

  &:hover {
    filter: drop-shadow(0 0 3px $blue);
  }
}

.drop-shadow-red {
  cursor: pointer;

  &:hover {
    filter: drop-shadow(0 0 3px $red);
  }
}
.drop-shadow-white {
  cursor: pointer;
  &:hover {
    filter: drop-shadow(0 0 3px $white);
  }
}

.border-t {
  border-top: 1px solid rgba(153,153,153,.1);
}
.border-b {
  border-bottom: 1px solid rgba(153,153,153,.1);
}
.bg-f9 {
  background-color: #f9f9f9;
}
.bg-f5 {
  background-color: #f5f5f5;
}