// element 覆写
@forward 'element-plus/theme-chalk/src/common/var.scss' with (
  $colors: (
    'primary': (
      'base': #5f63f2,
    ),
    'success': (
      'base': #20c997,
    ),
    'warning': (
      'base': #fa8b0c,
    ),
    'danger': (
      'base': #ff4d4f,
    ),
    'info': (
      'base': #2c99ff,
    ),
  )
);
@import 'element-plus/theme-chalk/src/index.scss';

:root {
  --el-color-primary-light-7: rgba(95, 99, 242, 0.3);
  --el-color-primary-light-8: rgba(95, 99, 242, 0.2);
  --el-color-primary-light-9: rgba(95, 99, 242, 0.1);
  --el-color-primary-dark-2: #4e53f2;
  --el-color-black: #272b41;

  --el-border-color: rgba(153, 153, 153, 0.2);
  --el-border-color-hover: rgba(153, 153, 153, 0.3);
  --el-switch-border-color: rgba(153, 153, 153, 0.2);
  --el-switch-off-color: rgba(153, 153, 153, 0.2);

  --el-overlay-color-lighter: rgba(255, 255, 255, 0.5);
  --el-box-shadow-dark: 0 5px 20px rgba(39, 43, 65, 0.1);
}

.el-date-range-picker {
  --el-datepicker-inrange-bg-color: rgba(95, 99, 242, 0.1);
  --el-datepicker-inrange-hover-bg-color: rgba(95, 99, 242, 0.2);
  &.has-sidebar{
    height: 329px;
  }
}
.today .el-date-table-cell__text {
  color: $green !important;
}

.el-input {
  --el-input-bg-color: rgba(255, 255, 255, 0.9);
  .el-input__wrapper {
    &.is-focus {
      z-index: 2;
    }
  }
  .el-input__inner {
    &::placeholder {
      font-size: 12px;
    }
  }
}

// $--font-path: "~element-ui/lib/theme-chalk/fonts";
// @import "~element-ui/packages/theme-chalk/src/index";
// @forward 'element-plus/theme-chalk/src/common/var.scss' width (
//   $colors: (

//   )
// )

.el-menu {
  border-right: none;
  transition: $trans3;

  .el-menu-item-group__title {
    padding: 0;
  }

  .el-icon.el-sub-menu__icon-arrow {
    width: 20px;
    height: 16px;
    font-size: 16px;
  }

  .el-menu-item {
    min-width: 0;
    transition: $trans3;

    &:hover {
      padding-left: 24px !important;
      background-color: transparent;
      background-image: linear-gradient(to right, $white1, $blue1);
    }
  }

  .el-sub-menu__title {
    transition: $trans3;
    background-color: transparent;

    &:hover {
      padding-left: 24px !important;
    }
  }

  .el-menu-item-group {
    .el-menu-item:hover {
      padding-left: 46px !important;
    }
  }
}

.el-table {
  font-size: 12px;
  font-weight: normal;
  --el-table-header-bg-color: rgba(248, 248, 248, 0.7);
  --el-table-header-text-color: #222;

  .el-table__header-wrapper,
  .el-table__fixed-header-wrapper {
    tr,
    th {
      background-color: rgba(248, 248, 248, 1);
    }
  }

  &.border-b {
    border-bottom: 1px solid rgba(153, 153, 153, 0.1);
  }

  &.el-table--layout-fixed {
    th {
      @include backdrop();
    }
  }

  .el-table__row {
    &.hover-row {
      td {
        transition: background 0.3s ease-in-out;
      }
    }
  }

  .el-table__cell {
    padding: 0;

    .cell {
      padding: 8px;
    }
  }
  .caret-wrapper {
    width: 18px;
  }
}
.el-input--small {
  .el-input__prefix {
    height:22px;
  }
}
.el-input-group__append {
  background-color: var(--el-color-primary-light-9);
  color: $primary;
  transition: $trans3;

  &:hover {
    background-color: $primary;
    color: $white;
  }
  &:active {
    background-color: var(--el-color-primary-dark-2);
  }
}

#el-drawer__title {
  padding: 1rem;
  margin: 0;
  border-bottom: 1px rgba(0, 0, 0, 0.1) solid;
}

.el-tooltip__popper {
  max-width: 400px;
  background-color: rgba(0, 0, 0, 0.7) !important;
  backdrop-filter: saturate(100%) blur(4px);

  &[x-placement^='left'] .popper__arrow {
    border-left-color: rgba(0, 0, 0, 0.5) !important;
  }

  &[x-placement^='top'] .popper__arrow {
    border-top-color: rgba(0, 0, 0, 0.5) !important;
  }

  &[x-placement^='right'] .popper__arrow {
    border-right-color: rgba(0, 0, 0, 0.5) !important;
  }

  &[x-placement^='bottom'] .popper__arrow {
    border-bottom-color: rgba(0, 0, 0, 0.5) !important;
  }
}

.mgtabs {
  .el-tabs__header {
    margin-bottom: 0 !important;
  }
}

.mgcard {
  .el-card__header {
    padding: 8px;
    color: #333;
    font-size: 14px;
  }

  .el-card__body {
    padding: 8px;
  }
}

.el-card {
  transition: 0.1s !important;
}

.collapseSelect {
  min-width: 200px;

  .el-tag {
    max-width: 100px !important;
  }
}

.el-input__suffix {
  display: flex;
  align-items: center;

  .el-input__suffix-inner {
    display: flex;
  }
}

.yscrollbar {
  height: 100%;

  .el-scrollbar__wrap {
    overflow-y: scroll;
    overflow-x: hidden;
  }
}

.xscrollbar {
  .xscrollArea {
    height: calc(100% + 17px);
  }

  .el-scrollbar__wrap {
    overflow-y: hidden;
    overflow-x: auto;
    height: calc(100% + 17px);
  }
}

.el-scrollbar__bar {
  z-index: 9;
  // background-color: rgba(0,0,0,0.1);

  &.is-horizontal {
    display: none;
  }
}

.mgswitch {
  .el-switch__core {
    width: 50px !important;
  }

  .el-switch__label {
    position: absolute;
    z-index: 2;
    display: none;

    span {
      font-size: 12px;
    }

    &.el-switch__label--left {
      margin: 0;
      left: 20px;
      color: #fff;
    }

    &.el-switch__label--right {
      margin: 0;
      right: 20px;
      color: #fff;
    }

    &.is-active {
      display: block;
    }
  }
}

.mgslider {
  .el-slider__runway {
    margin: 0;
    background-color: rgba(0, 0, 0, 0.5) !important;
    box-shadow: #fff 0 0 2px;

    .el-slider__bar {
      background-color: $blue;
      box-shadow: $blue 0 0 5px;
      border-radius: 3px;
    }

    .el-slider__button-wrapper {
      display: none;
    }

    &:hover .el-slider__button-wrapper {
      display: block;
    }
  }
}

.el-cascader__dropdown {
  .in-active-path,
  .is-selectable {
    font-weight: 500 !important;
  }
}
.el-cascader-node {
  padding: 0 8px;
  &:hover {
    .el-radio__inner {
      border-color: $primary;
    }
  }
  .el-cascader-node__prefix {
    left: 2px;
  }
}

.el-radio__input {
  .el-radio__inner {
    // background-color: #fff !important;
    border-width: 2px;
    transition: $trans1;

    &::after {
      width: 6px;
      height: 6px;
      background-color: $white;
    }
  }
}

.mgcascader {
  .el-input--mini {
    .el-input__inner {
      height: 28px !important;

      &::placeholder {
        font-size: 12px !important;
      }
    }
  }

  .el-cascader__tags {
    top: 0;
    bottom: 0;
    display: flex;
    align-items: center;
    transform: translateY(0);
  }

  .el-tag {
    z-index: 1;
    max-width: 100px;
    text-overflow: ellipsis;
    overflow: hidden;
  }

  .el-cascader__search-input {
    position: absolute;
    left: 0;
    top: 0;
    z-index: 0;

    &::placeholder {
      font-size: 12px !important;
    }
  }
}

.lineForm {
  .el-form-item {
    display: flex;
    flex-direction: column;

    .el-form-item__label {
      text-align: left;
    }
  }
}

.el-form-item {
  display: flex;

  .el-form-item__label {
    justify-content: flex-start;
  }
}

.jtk-endpoint {
  z-index: 2;
}

.jtk-connector {
  transition-property: opacity;

  &:hover {
    z-index: 2;
  }
}

.uploadHideBtn {
  .el-upload {
    display: none;
  }
}

// 自定义popover 多触发时合并成手写的同一个，减少消耗
.CPT_Popper[x-placement^='right'] {
  .popper__arrow {
    transform: translateY(-50%);
  }
}

.CPT_Popper[x-placement^='left'] {
  .popper__arrow {
    transform: translateY(-50%);
  }
}

// 以下backdrop
.el-message-box {
  backdrop-filter: saturate(100%) blur(4px);
  border-color: rgba(255, 255, 255, 0.3) !important;
  background-color: rgba(255, 255, 255, 0.7) !important;

  .el-message-box__message {
    color: rgba(0, 0, 0, 0.5) !important;
  }
}

.el-message {
  min-width: 0;
  padding: 16px;
  @include backdrop(100%, 8px);
  border-color: rgba(255, 255, 255, 0.3) !important;
  background-color: rgba(255, 255, 255, 0.9) !important;
  box-shadow: rgba(0, 0, 0, 0.1) 0 0 10px;

  .el-message__content {
    color: rgba(0, 0, 0, 0.7) !important;
  }

  &.el-message--success {
    .el-message__icon {
      color: $green !important;
    }
  }

  &.el-message--warning {
    .el-message__icon {
      color: $orange !important;
    }
  }

  &.el-message--error {
    .el-message__icon {
      color: $red !important;
    }
  }

  &.el-message--info {
    .el-message__icon {
      color: $blue7 !important;
    }
  }
}

.el-picker-panel,
.el-notification {
  background-color: rgba(255, 255, 255, 0.7) !important;
  backdrop-filter: saturate(100%) blur(4px);

  .el-icon-info {
    color: $blue7 !important;
  }

  .el-notification__content {
    color: rgba(0, 0, 0, 0.5);
  }
}

.el-notification__group {
  flex-grow: 1;
}

.el-picker-panel__footer {
  background-color: rgba(255, 255, 255, 0.5) !important;
  backdrop-filter: saturate(100%) blur(4px);
}

.el-notification__closeBtn {
  color: rgba(0, 0, 0, 0.5) !important;
  transition: $trans1;

  &:hover {
    opacity: 0.7;
  }
}

.el-select-dropdown__item.selected {
  background-color: transparent !important;
}

.el-select-dropdown__item,
.el-dropdown-menu__item {
  transition: $trans1;

  &:hover,
  &.hover {
    background-color: $blue1 !important;
  }
}

.mgbackdrop {
  background-color: rgba(255, 255, 255, 0.5) !important;
  backdrop-filter: saturate(100%) blur(4px);

  .el-dropdown-menu__item {
    transition: $trans1;
  }

  .el-dropdown-menu__item:not(.is-disabled):hover {
    background-color: $blue1;
  }
}

.v-modal {
  opacity: 0.2 !important;
}

.el-overlay {
  background-color: transparent;
  @include backdrop(70%, 2px);
}

.el-drawer {
  background-color: rgba(255, 255, 255, 0.9) !important;
  @include backdrop();

  .el-drawer__header {
    height: 56px;
    padding: 20px;
    margin-bottom: 0;
    border-bottom: 1px solid $dark1;
  }

  .el-drawer__body {
    padding: 0px;

    .drawerBody {
      height: calc(100% - 56px);
      overflow: hidden;
    }

    .drawerFooter {
      display: flex;
      align-items: center;
      justify-content: flex-end;
      height: 56px;
      padding: 0 20px;
      border-top: 1px solid rgba(153, 153, 153, 0.1);
    }
  }
}

.el-drawer__wrapper {
  backdrop-filter: saturate(100%) blur(2px);
}

.el-dialog {
  border-radius: 4px !important;
  background-color: transparent !important;

  .el-dialog__header {
    margin-right: 0;
    padding: 8px 16px;
    backdrop-filter: saturate(100%) blur(4px);
    background-color: rgba(255, 255, 255, 0.7);
    border-radius: 4px 4px 0 0;
    border-bottom: 1px $border solid;
    .el-dialog__title {
      font-size: 14px;
    }
    .el-dialog__headerbtn {
      display: flex;
      align-items: center;
      justify-content: center;
      top: 0;
      width: 40px;
      height: 40px;
    }
  }

  &.is-fullscreen {
    border-radius: 0px !important;

    .el-dialog__header {
      border-radius: 0px;
    }
  }
  .el-dialog__body {
    padding: 0;
  }
  .el-dialog__footer {
    background-color: #fff;
  }
}

.el-tree {
  background-color: transparent !important;

  .el-tree-node__content:hover {
    background-color: $blue1 !important;
  }
}

.CPT_ScrollbarTable {
  &.table_small {
    .scrollBarTableLine {
      height: 32px;
    }

    .CPT_ScrollbarTableItem {
      padding: 5px;
    }
  }
}

.el-popper {
  &.is-light {
    background-color: $white9;
    @include backdrop();
  }
}

.el-loading-parent--relative {
  pointer-events: none;

  .el-loading-mask {
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 8px;
  }

  .el-loading-spinner {
    .circular {
      width: 100%;
    }
  }
}

.noborderSelect {
  .el-select {
    .el-input__wrapper {
      border: none;
      box-shadow: none !important;
    }
  }
}

.el-input-number {
  box-sizing: border-box !important;
  &.el-input-number--small {
    height: 24px;
    &.is-controls-right {
      .el-input-number__decrease,
      .el-input-number__increase {
        margin-top: 1px;
      }
    }
    &:not(.is-controls-right) {
      display: flex;
      align-items: stretch;
      .el-input-number__decrease,
      .el-input-number__increase {
        display: flex;
        align-items: center;
        justify-content: center;
      }
    }
    // &.is-controls-right{
    //   height:10px;
    //   top:1px;
    // }
  }
}

.dark {
  &.el-progress {
    --el-fill-color-light: rgba(0, 0, 0, 0.3);
  }
}
