@for $var from 5 to 48 {
  .fs#{$var * 2} {
    font-size: #{$var * 2}px;
  }

  .lh#{$var * 2} {
    line-height: #{$var * 2}px;
  }
}

.indent2 {
  text-indent: 2em;
}

.txt-nowrap {
  text-overflow: ellipsis;
  white-space: nowrap;
  word-break: keep-all;
  overflow: hidden;
}

.txt-wrap {
  word-break: break-all;
  white-space: wrap;
}

.fs10 {
  font-size: 16px;
  transform: scale(0.625, 0.625);
}
.fs10-l {
  font-size: 16px;
  transform: scale(0.625, 0.625);
  transform-origin: left center;
}
