* {
  box-sizing: border-box;
}

body,
html,
#app {
  height: 100vh;
  padding: 0;
  margin: 0;
  overflow: hidden;
  font-size: 16px;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  background-color: #ececf6;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.Frame {
  height: 100vh;
}

.AFrame {
  border-radius: 12px;
  box-shadow: $dark1 0 40px 20px, $blue1 0 20px 20px;
  .AFrameRight {
    height: 100vh;
    width: calc(100% - 200px);
    overflow: hidden;
  }
  &.collapseMenu {
    .AFrameRight {
      width: calc(100% - 64px);
    }
    .AFrameMenu {
      width: 64px;
      .logoTxt {
        display: none;
      }
    }
  }
}

.MainPage {
  height: 100%;
  overflow: hidden;
}

.PageAfter {
  position: relative;

  &::after {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 9;
    pointer-events: none;
    border: 1px $white solid;
    box-shadow: 0 0 30px $littleGray inset;
  }
}

.MvcIcon {
  width: 1em;
  height: 1em;
  vertical-align: -0.15em;
  fill: currentColor;
  overflow: hidden;

}
// svg[class*="txt-"] {
//   fill: white !important;
// }
.Frame {
  .Page {
    height: calc(100vh - 30px);
    overflow: hidden;
  }
}

.ToolFrame {

  .Page {
    position: relative;
    height: 100%;
    border-radius: 3px 12px 12px 3px;
  }
}

.ScrollPage {
  height: calc(100vh - 30px);
  overflow-y: auto;
}