$radius: 0,
2,
4,
6,
8,
10,
12,
14,
16,
18,
20;

@each $var in $radius {
  .radius#{$var} {
    border-radius: #{$var}px;
  }
  .radius-t#{$var} {
    border-radius: #{$var}px #{$var}px 0 0;
  }
  .radius-b#{$var} {
    border-radius: 0 0 #{$var}px #{$var}px;
  }
}

@for $var from 1 through 9 {
  .z#{$var} {
    z-index: #{$var};
  }

  .opacity#{$var} {
    opacity: #{calc($var/10)};
  }
}

.radius {
  overflow: hidden;
}

.radiusP50 {
  border-radius: 50%;
}

.backdrop {
  @include backdrop();
}

.hover-type1 {
  transition: $trans1;

  &:hover {
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.1),
      0 0px 4px rgba(0, 0, 0, 0.1);
    transform: translateY(-30px);
    z-index: 1;
  }
}

.transition1 {
  transition: $trans1;
}

.transition2 {
  transition: $trans2;
}

.transition3 {
  transition: $trans3;
}

.transition5 {
  transition: $trans5;
}

.dot4 {
  width: 4px;
  height: 4px;
  border-radius: 50%;
}
.dot6 {
  width: 6px;
  height: 6px;
  border-radius: 50%;
}
.dot8 {
  width: 8px;
  height: 8px;
  border-radius: 50%;
}


// cursor

.point {
  cursor: pointer;
}

.cursor-default{
  cursor: default !important;
}
.cursor-move{
  cursor: move;
}

.noselect {
  user-select: none;
}

.useselect {
  user-select: auto;
}

.noevent {
  pointer-events: none;
}

.useevent {
  pointer-events: auto;
}

.yscroll {
  overflow-y: auto;
}